@import url("https://fonts.googleapis.com/css2?family=Germania+One&family=Pirata+One&family=Roboto+Slab:wght@300;600&display=swap");

:root {
	--huisstijlkleur: rgb(0, 119, 167);
}

html {
	font-size: 14px;
	font-family: "Roboto Slab", sans-serif;
	line-height: 1.5;
}

h1 {
	font-size: 2rem;
	line-height: 1.3;
	margin-bottom: 1rem;
}

.intro {
	max-width: 700px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto 1fr;
	padding: 0rem 3rem 4rem 3rem;
}

.intro img {
	border-radius: 50%;
	width: 8rem;
	margin-right: 3rem;
}

a {
	color: var(--huisstijlkleur);
}

.search-function {
	margin-top: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	grid-column-start: 2;
}
.search-function input {
	margin-left: 1rem;
	margin-top: 1rem;
	padding: 0.5rem;
}

.repo--js {
	display: grid;
	gap: 0;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	/* grid-template-columns: 1fr 1fr 1fr; */
}

.project {
	background: white;
	padding: 3rem 3rem;
	margin: 0;
}
.project:nth-of-type(4),
.project:nth-of-type(17), 
.project:nth-of-type(18), 
.project:nth-of-type(19), 
.project:nth-of-type(20), 
.project:nth-of-type(21), 
.project:nth-of-type(22), 
.project:nth-of-type(23), 
.project:nth-of-type(24), 
.project:nth-of-type(25), 
.project:nth-of-type(26) {
    display: none !important;
}

li {
	list-style-type: none;
}

li:first-of-type {
	text-transform: capitalize;
	font-size: 1.9rem;
	color: var(--huisstijlkleur);
	font-weight: 600;
	margin-bottom: 0.5rem;
	line-height: 1.3;
}

li:first-of-type a {
	text-decoration:none
}

li:nth-of-type(3),
li:nth-of-type(4) {
	font-weight: bold;
}
